<p>
   {{ title }}
</p>

<form action="http://localhost:3000/post" method="POST">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" [(ngModel)]="eventModel.title" name="title" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="Genre">Genre</label>
        <input type="text" [(ngModel)]="eventModel.genre" name="genre" class="form-control">
    </div>

    <div class="form-group">
        <label for="Location">Location</label>
        <input type="text" [(ngModel)]="eventModel.location" name="location" class="form-control">
    </div>

    <div class="form-group">
        <label for="Date">Date</label>
        <input type="date" [(ngModel)]="eventModel.date" name="date" class="form-control">
    </div>
    <button type="submit" (click)="creatEvent()" class="btn btn-success">Submit</button>
</form>
<div *ngIf="events!=null">
    <div *ngFor="let item of events">
        {{ item.date }}
        {{ item.genre }}
        {{ item.location }}
        {{ item.title }}
        {{ item.publisher }}
    </div>
</div>
<app-component-events></app-component-events>